*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    margin-top: 20px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:lightgrey;
    padding:20px;
    align-items: center;
}

.post{
    margin-bottom: 20px;
    width:400px;
    background:white;
    flex-grow: 0;
    height: fit-content;
}

.head{
    display: flex;
    justify-content: space-between;
    padding:10px;
}

.head p{
    font-weight: 700;
}

small{
    color:darkgray;
}

.thumb {
    width: 100%;
}

.thumb img {
    width:100%;
}

.caption{
    margin-top: 2px;
    border-top: 1px solid #e6e6e6;
    padding: 10px;
}